<% if params.dig("filter", "with_availability").present? && params["filter"]["with_availability"] == "withdrawn" %>
  <div class="callout warning">
    <%= t("decidim.proposals.proposals.index.text_banner",
          go_back_link: link_to(t("decidim.proposals.proposals.index.click_here"), proposals_path("filter[with_availability]" => nil)),
          ).html_safe %>
  </div>
<% end %>

<div class="proposals-container">
  <p id="proposals-count" class="proposals-counter">
      <%= render partial: "count" %>
  </p>

  <div class="order__by-text">
    <%= order_selector available_orders, i18n_scope: "decidim.proposals.proposals.orders" %>
  </div>
</div>

<div class="card-grid proposals-content">
  <%= render @proposals %>

  <div class="br-row">
    <% if @proposals.empty? %>
      <% if params[:filter].present? %>
        <p><%= t(".empty_filters") %></p>
      <% else %>
        <p><%= t(".empty") %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "decidim/shared/results_per_page" %>

<%= decidim_paginate @proposals %>

<div class="row">
  <div class="text-right">
    <% if params.dig("filter", "with_availability").present? && params["filter"]["with_availability"] == "withdrawn" %>
      <%= link_to t("decidim.proposals.proposals.index.see_all"), proposals_path("filter[with_availability]" => nil) %>
    <% else %>
      <%= link_to t("decidim.proposals.proposals.index.see_all_withdrawn"), proposals_path(filter: { with_availability: "withdrawn", state: [""] }) %>
    <% end %>
  </div>
</div>
