.proposals-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.proposals-content-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.proposals-filters {
  min-width: 300px;
  height: fit-content;
}

.proposals-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.proposals-container p {
  margin: 0;
}

.diff-view-by,
.order-by {
  margin: 0;
}

.proposals-counter {
  font-weight: 600;
  font-size: 0.9rem;
}

.results-per-page {
  padding: 0;
  font-weight: 600;
  align-items: center;
  justify-content: right;
}

.order-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.order-by__dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
  font-style: italic;
  font-weight: 700;
}

.title-action-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.title-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-action__action {
  gap: 0.5rem;
  max-width: auto;
}

.proposals-button__container {
  padding-left: 0;
}

.user-name-title-h1 {
  display: none;
  justify-content: left;
}

.order__by-content-text {
  font-size: 17px;
  font-weight: 600;
}

.proposals__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}


.proposals__button-circle {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--blue-warm-vivid-70);
  position: relative;
  z-index: 10;
}

.proposals__button-circle:hover {
  background-color: rgba(var(--interactive-rgb), var(--hover));
}

@media (min-width: 640px) {
  .title-action-button {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .proposals-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  .title-action__action {
    max-width: 250px;
  }
}

.proposals-br {
  width: 100%;
  margin: 1rem 0;
}

.proposals-br .dropdown.menu > li > a {
  padding: 0.7rem 0.3rem;
}

.proposals-br .card-grid .column,
.proposals-br .card-grid .columns {
  height: 100%;
  margin: 0;
  padding: 0;
}

.results-per-page__dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.new_filter .br-input .br-button {
  margin-top: calc((52px + var(--spacing-scale-half)) * -1) !important;
}

#parent-assemblies .card-grid .column {
  height: 100%;
  margin: 0;
  padding: 0;
}

.results-per-page-export-button {
  display: flex !important;
  flex-direction: row !important;
  text-decoration: none !important;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-scale-base);
  font-weight: var(--font-weight-semi-bold);
  padding: 5px 15px;
}

.filter-container .dropdown.menu > li > a {
  position: relative; 
  background-color: var(--interactive-light);
  color: var(--color-dark);
  padding: 10px;
  border-radius: 100em;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.exports.dropdown-br.tiny.button.button--simple{
  margin-right: 15px !important;
}

.vertical.menu.add-components {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.exports--proposals a, .exports--proposal_comments a {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem;
}

.exports--proposals a:hover, .exports--proposal_comments a:hover {
  background-color: var(--blue-20);
}

.br-message.info-drop{
  --message-background: var(--background);
  --message-color-icon: var(--color);
  --feedback-background: var(--background);
  --message-text: var(--color);
  display: flex;
  margin-bottom: var(--spacing-scale-2x);
  background-color: var(--green-cool-vivid-5);
  justify-content: space-between;
  align-items: center;
}

.br-message.info-drop > .content-br > .message-title-br{
  color:var(--gray-80);
  font-weight: var(--font-size-scale-up-01)
}

.br-message-container {
  display: flex;
  align-items: center;
}

#export-span-close {
  color: var(--green-cool-vivid-50);
}

.export-span-show {
  opacity: 1;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.export-span-hollow {
  opacity: 0;
  height: 0rem;
  padding: 0rem;
  margin-bottom: 0rem;
}

#proposals {
  width: 100%;
}