<div class="br-tab process-nav">
    <nav class="br-container-lg process-nav__content <%= browser.mobile? ? "is-active" : "" %>" id="process-nav-content" data-toggler=".is-active">
        <button class="scroll-button scroll-left <%= "hidden" if browser.mobile? %>">
          <i class="fa-solid fa-chevron-left "></i>
        </button>
        <ul class="space-menu">
          <% items.each_with_index do |item, index| %>
            <li class="tab-item <%= "active" if item[:active] %>">
              <%= link_to item[:url] do %>
                <% if index == 0 %>
                  <span class="name">
                    <i class="fa-solid fa-house"></i>
                  </span>
                <% else %>
                  <span class="name">
                    <%= item[:name] %>
                  </span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <button class="scroll-button scroll-right <%= "hidden" if browser.mobile? %>">
          <i class="fa-solid fa-chevron-right "></i>
        </button>
    </nav>
</div>